---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app qdrant
  namespace: &namespace ai
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/gatus/guarded
    - ../../../../components/volsync
  dependsOn:
    - name: onepassword-store
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/ai/qdrant/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: *app
      GATUS_GROUP: ai
      VOLSYNC_CAPACITY: 25Gi
      VOLSYNC_SCHEDULE_CEPH: "30 */4 * * *"
      VOLSYNC_SCHEDULE_MINIO: "30 */6 * * *"
      VOLSYNC_SCHEDULE_R2: "5 2 * * *"
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
