---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/gateway_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: agentgateway
  namespace: ai-system
  labels:
    app: agentgateway
  annotations:
    external-dns.alpha.kubernetes.io/target: &hostname "ai.${SECRET_DOMAIN}"
    gatus.home-operations.com/endpoint: |-
      group: ai-system
      guarded: true
      ui:
        hide-hostname: true
        hide-url: true
spec:
  gatewayClassName: agentgateway
  infrastructure:
    annotations:
      lbipam.cilium.io/ips: "10.50.0.30"
      external-dns.alpha.kubernetes.io/hostname: *hostname
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: sklab-dev-production-tls
