---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: gha-runner-scale-set-controller
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: gha-rs-controller
      app.kubernetes.io/instance: gha-runner-scale-set-controller
