[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true, uv_create_args = [
  '--seed',
  '--system-site-packages',
] }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"
MISE_LIST_ALL_VERSIONS = "false"

[tools]
"python" = "3.14.0"
"pipx:makejinja" = "2.8.1"
"pipx:pre-commit" = "4.3.0"
"pipx:flux-local" = "latest"
"aqua:budimanjojo/talhelper" = "3.0.42"
"aqua:cilium/cilium-cli" = "0.18.7"
"aqua:cli/cli" = "2.81.0"
"aqua:cloudflare/cloudflared" = "2025.9.1"
"aqua:cue-lang/cue" = "0.14.2"
"aqua:FiloSottile/age" = "1.2.1"
"aqua:fluxcd/flux2" = "2.7.1"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.4"
"aqua:helm/helm" = "3.19.0"
"aqua:helmfile/helmfile" = "1.1.7"
"aqua:jqlang/jq" = "1.7.1"
"aqua:kubernetes-sigs/kustomize" = "5.6.0"
"kubectl" = "1.34.1"
"aqua:mikefarah/yq" = "4.48.1"
"aqua:siderolabs/talos" = "1.11.2"
"aqua:yannh/kubeconform" = "0.7.0"
"aqua:nektos/act" = "0.2.82"
uv = "0.9.2"
1password-cli = "2.30.3"
krew = "0.4.5"
k9s = "0.50.7"

[tasks.install-hooks]
description = "Install pre-commit hooks"
run = "pre-commit install --install-hooks && pre-commit install --hook-type commit-msg"
depends = ["install"]

[tasks.install]
description = "Install all tools and setup hooks"
run = "echo 'Tools installed via mise'"

[tasks.activate]
description = "Install all tools and setup hooks"
run = "eval \"$(mise activate zsh)\" "
