apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: monitoring
spec:
  serviceAccountName: prometheus
  podMonitorSelector:
    matchLabels:
      monitor: tidb-cluster
  # An empty podMonitorNamespaceSelector means PodMonitors in all namespaces are collected.
  podMonitorNamespaceSelector: {}
