---
apiVersion: core.pingcap.com/v1alpha1
kind: Cluster
metadata:
  name: homelab-kvstore
spec: {}
---
apiVersion: core.pingcap.com/v1alpha1
kind: PDGroup
metadata:
  name: coordinator
  labels:
    pingcap.com/group: pd
    pingcap.com/component: pd
    pingcap.com/cluster: &cluster homelab-kvstore
spec:
  cluster:
    name: *cluster
  replicas: 3
  template:
    metadata:
      annotations:
        author: pingcap
    spec:
      version: v8.5.2
      resources:
        cpu: "4"
        memory: 8Gi
      affinity:
        podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    pingcap.com/component: pd
                topologyKey: kubernetes.io/hostname
      config: |
        [log]
        level = "debug"
      volumes:
      - name: data
        mounts:
        - type: data
        storage: 20Gi
        storageClassName: ceph-block
---
apiVersion: core.pingcap.com/v1alpha1
kind: TiKVGroup
metadata:
  name: storage
  labels:
    pingcap.com/group: tikv
    pingcap.com/component: tikv
    pingcap.com/cluster: &cluster homelab-kvstore
spec:
  cluster:
    name: *cluster
  replicas: 3
  template:
    metadata:
      annotations:
        author: pingcap
    spec:
      version: v8.5.2
      resources:
        cpu: "4"
        memory: 8Gi
      config: |
        [log]
        level = "info"
      volumes:
      - name: data
        mounts:
        - type: data
        storage: 100Gi
        storageClassName: ceph-block
