---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database

components:
  - ../../components/common
  - ../../components/alerts

resources:
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly/ks.yaml
  - ./emqx/ks.yaml
  - ./tidb-operator/ks.yaml
  - ./surrealdb/ks.yaml
  - ./jetstream/ks.yaml
