---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dify-backend-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ceph-filesystem
  resources:
    requests:
      storage: 10Gi
