---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app surrealdb
  namespace: &namespace database
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: ./kubernetes/apps/database/surrealdb/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
    - name: tikv-cluster
      namespace: database
    - name: external-secrets
      namespace: security
  healthCheckExprs:
    - apiVersion: apps/v1
      kind: Deployment
      current: status.availableReplicas == status.replicas
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
