---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sabnzbd-secret
    creationPolicy: Owner
  data:
    - secretKey: SABNZBD_API_KEY
      remoteRef:
        key: sabnzbd
        property: SABNZBD_API_KEY
    - secretKey: SABNZBD_NZB_KEY
      remoteRef:
        key: sabnzbd
        property: SABNZBD_NZB_KEY
    - secretKey: XSEED_APIKEY
      remoteRef:
        key: cross-seed
        property: CROSS_SEED_API_KEY
