---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sonarr-secret
    creationPolicy: Owner
    template:
      data:
        # Postgres Init
        INIT_POSTGRES_DBNAME: &dbName "{{ .POSTGRES_DB_NAME }}"
        INIT_POSTGRES_HOST: &dbHost "{{ .POSTGRES_DB_HOST }}"
        INIT_POSTGRES_USER: &dbUser "{{ .POSTGRES_DB_USER_NAME }}"
        INIT_POSTGRES_PASS: &dbPass "{{ .POSTGRES_DB_USER_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

        SONARR__POSTGRES__HOST: *dbHost
        SONARR__POSTGRES__MAINDB: *dbName
        SONARR__POSTGRES__USER: *dbUser
        SONARR__POSTGRES__PASSWORD: *dbPass
        SONARR__POSTGRES__PORT: "5432"

        SONARR__AUTH__APIKEY: "{{ .SONARR_API_KEY }}"

  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: cloudnative-pg
