---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-downloader
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: false
        seccompProfile: { type: RuntimeDefault }
    controllers:
      calibre-downloader:
        containers:
          app:
            image:
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader-extbp
              tag: v1.0.3@sha256:ecb27c150e3f87dfa3804447f5b5e5b44210fc96679a128ef191d4802e45b0e4
            env:
              UID: "2000"
              GID: "2000"
              FLASK_PORT: &port 8084
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
              DEFAULT_SLEEP: 15
              USE_BOOK_TITLE: true
              LOG_LEVEL: info
              AA_BASE_URL: https://annas-archive.li
              # Use flaresolverr instead of integrated chromium
              # CUSTOM_DNS: cloudflare
              # USE_CF_BYPASS: true # Enable Cloudflare bypass (default: true)
              # External Cloudflare Bypass environment variables
              EXT_BYPASSER_URL: "http://flaresolverr.network.svc.cluster.local:8191" # URL of the external Cloudflare resolver service (used FlareSolverr)
              EXT_BYPASSER_PATH: "/v1" # Path for external Cloudflare resolver API (default: /v1)
              EXT_BYPASSER_TIMEOUT: 60000 # Timeout for external Cloudflare resolver requests (default: 60000)
            command:
              - /bin/sh
              - -c
              - |
                gunicorn -t 300 -b 0.0.0.0:8084 app:app
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 6
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
            resources:
              requests:
                cpu: 10m
                memory: 150Mi
              limits:
                memory: 500Mi
            securityContext:
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
              allowPrivilegeEscalation: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: calibre-web.png
          gethomepage.dev/name: *app
          gethomepage.dev/group: media
        hostnames: ["books.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
            timeouts:
              request: 0s
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /app/downloaded_files
            subPath: downloads
          - path: /var/log/cwa-book-downloader/
            subPath: logs

      ingest:
        type: nfs
        server: &nas nas.${SECRET_DOMAIN}
        path: /mnt/storage/Media/ebooks/calibre/ingest
        globalMounts:
          - path: *ingest
