---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app open-notebook
  namespace: &namespace ai
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: surrealdb
      namespace: database
    - name: onepassword-store
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/ai/open-notebook/app
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 50Gi
      GATUS_GROUP: *namespace
      GATUS_SUBDOMAIN: notebook
      VOLSYNC_SCHEDULE_CEPH: "40 */4 * * *"
      VOLSYNC_SCHEDULE_MINIO: "30 */6 * * *"
      VOLSYNC_SCHEDULE_R2: "15 2 * * *"
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  timeout: 5m
  wait: false
