---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 1h
  values:
    enableServiceLinks: false
    resources:
      operator:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          memory: 256Mi
      metricServer:
        requests:
          cpu: 50m
          memory: 64Mi
        limits:
          memory: 128Mi
