---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: loki
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    deploymentMode: SingleBinary

    loki:
      analytics:
        reporting_enabled: false
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      compactor:
        working_directory: /var/loki/compactor/retention
        delete_request_store: filesystem
        retention_enabled: true
      ingester:
        chunk_encoding: snappy
        chunk_idle_period: 30m
        chunk_block_size: 262144
        chunk_retain_period: 1m
        wal:
          enabled: true
          dir: /var/loki/wal
      limits_config:
        retention_period: 14d
        allow_structured_metadata: true
        max_structured_metadata_size: 64KB
        ingestion_rate_mb: 10
        ingestion_burst_size_mb: 20
        max_streams_per_user: 10000
        max_line_size: 256KB
      schemaConfig:
        configs:
          - from: "2024-04-01"
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      server:
        log_level: info
      storage:
        type: filesystem

    backend:
      replicas: 0
    chunksCache:
      enabled: false
    gateway:
      replicas: 0
    lokiCanary:
      enabled: false
    read:
      replicas: 0
    resultsCache:
      enabled: false
    sidecar:
      image:
        repository: ghcr.io/kiwigrid/k8s-sidecar
      rules:
        searchNamespace: ALL
    singleBinary:
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 2Gi
      persistence:
        enabled: true
        storageClass: ceph-block
        size: 50Gi
    test:
      enabled: false
    write:
      replicas: 0
