---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kagent.dev/mcpserver_v1alpha1.json
apiVersion: kagent.dev/v1alpha1
kind: MCPServer
metadata:
  name: grafana-mcp
  labels:
    app.kubernetes.io/name: grafana-mcp
    kagent.dev/discovery: "enabled"
spec:
  transportType: http
  httpTransport:
    path: "/sse"
    targetPort: 8000
  deployment:
    image: "mcp/grafana:latest"
    args:
      - "-t"
      - "sse"
    port: 8000
    env:
      GRAFANA_URL: "http://grafana.monitoring.svc.cluster.local"
    secretRefs:
      - name: grafana-mcp-secret
