---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zigbee2mqtt
  namespace: &namespace home-automation
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: "./kubernetes/apps/home-automation/zigbee2mqtt/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: multus-networks
      namespace: kube-system
    - name: onepassword-store
      namespace: security
    - name: emqx-cluster
      namespace: database
    - name: volsync
      namespace: system
  components:
    - ../../../../components/volsync
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: *app
      VOLSYNC_CLAIM: zigbee2mqtt-data
      VOLSYNC_SCHEDULE_CEPH: "10 */4 * * *"
      VOLSYNC_SCHEDULE_MINIO: "15 */6 * * *"
      VOLSYNC_SCHEDULE_R2: "10 1 * * *"
