---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app calibre-web
  namespace: &namespace media
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  components:
    - ../../../../components/volsync
    - ../../../../components/gatus/guarded
  path: "./kubernetes/apps/media/calibre-web/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: rook-ceph
      namespace: rook-ceph
    - name: external-secrets
      namespace: security
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
    substitute:
      APP: *app
      HOSTNAME: calibre.${SECRET_DOMAIN}
      GATUS_SUBDOMAIN: calibre
      VOLSYNC_CAPACITY: 10Gi
      VOLSYNC_PUID: "2000"
      VOLSYNC_PGID: "2000"
