---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: anthropic-secret
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: anthropic-secret
    template:
      data:
        Authorization: "{{ .ANTHROPIC_API_KEY }}"
  dataFrom:
    - extract:
        key: ai-keys
---
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayBackend
metadata:
  name: anthropic
spec:
  ai:
    provider:
      anthropic:
        model: "claude-3-opus-20240229"
  policies:
    auth:
      secretRef:
        name: anthropic-secret

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: anthropic
spec:
  parentRefs:
    - name: internal
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /anthropic
    backendRefs:
    - name: anthropic
      group: agentgateway.dev
      kind: AgentgatewayBackend